<% include ../../templates/header.ejs %>
    <div class="container-fluid">
        <ul class="users-find">
            <% user.forEach(function(data){ %>
                <li class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title"><%= data.name %></h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Usuário: <%= data.user %> </li>
                        <li class="list-group-item">Email: <%= data.email %></li>
                        <li class="list-group-item">CPF: <%= data.cpf %></li>
                        <li class="list-group-item">Tel: <%= data.tel %></li>
                        <li class="list-group-item">Data Cadastro: <%= data.date %></li>
                        <li class="list-group-item">CPF: <%= data.cpf %></li>

                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </li>
            <% }) %>
        </ul>
    </div>
<% include ../../templates/footer.ejs %>
